__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.ipynb_checkpoints/
*.log
CUB_200_2011/
data/
runs/
*.ckpt
.cache/
CUB_200_2011/
cub*/
*.tgz
*.tar.gz
*.zip
runs/
outputs/last.ckpt
outputs/*.ckpt
*.ckpt
